# Imports

In [33]:
import pandas as pd
import numpy as np
import os

In [3]:
#check local virtual env (expected 'plt')
!pyenv local

plt

# load datasets

## load dataset *Manually*

In [38]:
!pwd

/home/tsl/code/houssam0812/AI-Powered-Language-Testing/notebooks

In [61]:
train_path="../raw_data/train.csv"
test_path="../raw_data/test.csv"

In [114]:
train_df=pd.read_csv(train_path)
test_df=pd.read_csv(test_path)

In [156]:
train_df

,text_id,full_text,cohesion,syntax,vocabulary,phraseology,grammar,conventions
0,0016926B079C,I think that students would benefit from learn...,3.5,3.5,3.0,3.0,4.0,3.0
1,0022683E9EA5,When a problem is a change you have to let it ...,2.5,2.5,3.0,2.0,2.0,2.5
2,00299B378633,"Dear, Principal\n\nIf u change the school poli...",3.0,3.5,3.0,3.0,3.0,2.5
3,003885A45F42,The best time in life is when you become yours...,4.5,4.5,4.5,4.5,4.0,5.0
4,0049B1DF5CCC,Small act of kindness can impact in other peop...,2.5,3.0,3.0,3.0,2.5,2.5
...,...,...,...,...,...,...,...,...
3906,FFD29828A873,I believe using cellphones in class for educat...,2.5,3.0,3.0,3.5,2.5,2.5
3907,FFD9A83B0849,"Working alone, students do not have to argue w...",4.0,4.0,4.0,4.0,3.5,3.0
3908,FFDC4011AC9C,"""A problem is a chance for you to do your best...",2.5,3.0,3.0,3.0,3.5,3.0
3909,FFE16D704B16,Many people disagree with Albert Schweitzer's ...,4.0,4.5,4.5,4.0,4.5,4.5
3910,FFED00D6E0BD,Do you think that failure is the main thing fo...,3.5,2.5,3.5,3.0,3.0,3.5

In [157]:
test_df

        text_id                                          full_text
0  0000C359D63E  when a person has no experience on a job their...
1  000BAD50D026  Do you think students would benefit from being...
2  00367BB2546B  Thomas Jefferson once states that "it is wonde...

In [159]:
X_train_raw=train_df[['text_id','full_text']]
X_train_raw

           text_id                                          full_text
0     0016926B079C  I think that students would benefit from learn...
1     0022683E9EA5  When a problem is a change you have to let it ...
2     00299B378633  Dear, Principal\n\nIf u change the school poli...
3     003885A45F42  The best time in life is when you become yours...
4     0049B1DF5CCC  Small act of kindness can impact in other peop...
...            ...                                                ...
3906  FFD29828A873  I believe using cellphones in class for educat...
3907  FFD9A83B0849  Working alone, students do not have to argue w...
3908  FFDC4011AC9C  "A problem is a chance for you to do your best...
3909  FFE16D704B16  Many people disagree with Albert Schweitzer's ...
3910  FFED00D6E0BD  Do you think that failure is the main thing fo...

[3911 rows x 2 columns]

In [160]:
X_train_raw=train_df[['text_id','full_text']]
X_train_raw

           text_id                                          full_text
0     0016926B079C  I think that students would benefit from learn...
1     0022683E9EA5  When a problem is a change you have to let it ...
2     00299B378633  Dear, Principal\n\nIf u change the school poli...
3     003885A45F42  The best time in life is when you become yours...
4     0049B1DF5CCC  Small act of kindness can impact in other peop...
...            ...                                                ...
3906  FFD29828A873  I believe using cellphones in class for educat...
3907  FFD9A83B0849  Working alone, students do not have to argue w...
3908  FFDC4011AC9C  "A problem is a chance for you to do your best...
3909  FFE16D704B16  Many people disagree with Albert Schweitzer's ...
3910  FFED00D6E0BD  Do you think that failure is the main thing fo...

[3911 rows x 2 columns]

In [161]:
X_train_raw.full_text[3500]

'Do you accomplish more when you always keep yourself busy? In this essay i will argue that keeping yourself busy serves a purpose. You get more things done, you will not be considered lazy and you get to learn new things.\n\nWhen you are always doing something you get more things done and out of the way. You will not be behind on anything. This is a good habit to have because it can affect you in the long run. For example, when you get older and have to pay taxes or bills. You will be caught up and on time which is really good for your credit score.\n\nYou will not be considered lazy. Many people in your life will notice how you like to get things done. This habit will definitely get you a job. No employer is looking for someone lazy and does not like to do things. Keeping yourself busy can be therapeutic. Many people do this to relive stress or think about things instead of being useless.\n\nYou will learn new things. Take advantage of the things you do because it can lead you to new opportunities. You can experience different things which is phenomenal. It is always fun keeping yourself busy because you feel great after the things you have accomplished. The more things you learn the more things you can try to keep yourself busy.\n\nSome people say inactivity serves a purpose, but they are wrong because when you are always doing something it keeps you motivated, experienced and makes a good habit to have. In the future I hope we have less useless people and more people who like to get things done.  '

In [162]:
y_train=train_df[['cohesion', 'syntax', 'vocabulary', 'phraseology', 'grammar', 'conventions']]
y_train

      cohesion  syntax  vocabulary  phraseology  grammar  conventions
0          3.5     3.5         3.0          3.0      4.0          3.0
1          2.5     2.5         3.0          2.0      2.0          2.5
2          3.0     3.5         3.0          3.0      3.0          2.5
3          4.5     4.5         4.5          4.5      4.0          5.0
4          2.5     3.0         3.0          3.0      2.5          2.5
...        ...     ...         ...          ...      ...          ...
3906       2.5     3.0         3.0          3.5      2.5          2.5
3907       4.0     4.0         4.0          4.0      3.5          3.0
3908       2.5     3.0         3.0          3.0      3.5          3.0
3909       4.0     4.5         4.5          4.0      4.5          4.5
3910       3.5     2.5         3.5          3.0      3.0          3.5

[3911 rows x 6 columns]

In [163]:
size=10
y_index=2

In [164]:
X_train_raw=train_df[['text_id','full_text']].iloc[0:size,:]
X_train_raw

        text_id                                          full_text
0  0016926B079C  I think that students would benefit from learn...
1  0022683E9EA5  When a problem is a change you have to let it ...
2  00299B378633  Dear, Principal\n\nIf u change the school poli...
3  003885A45F42  The best time in life is when you become yours...
4  0049B1DF5CCC  Small act of kindness can impact in other peop...
5  004AC288D833  Dear Principal,\r\n\r\nOur school should have ...
6  005661280443  Imagine if you could prove other people that y...
7  008DDDDD8E8D  I think it's a good idea for the estudnets to ...
8  009BCCC61C2A  positive attitude is the key to success. I agr...
9  009F4E9310CB  Asking more than one person for and advice hel...

In [165]:
y_train=train_df[['cohesion', 'syntax', 'vocabulary', 'phraseology', 'grammar', 'conventions']].iloc[0:size,:]
y_train

   cohesion  syntax  vocabulary  phraseology  grammar  conventions
0       3.5     3.5         3.0          3.0      4.0          3.0
1       2.5     2.5         3.0          2.0      2.0          2.5
2       3.0     3.5         3.0          3.0      3.0          2.5
3       4.5     4.5         4.5          4.5      4.0          5.0
4       2.5     3.0         3.0          3.0      2.5          2.5
5       3.5     4.0         4.0          3.5      3.5          4.0
6       3.5     4.0         3.5          3.5      4.0          4.0
7       2.5     2.5         2.5          2.5      2.5          2.0
8       3.0     3.0         3.5          3.5      3.0          3.0
9       3.0     3.0         3.5          2.5      3.0          2.5

In [166]:
y_train.iloc[:,[y_index]]

   vocabulary
0         3.0
1         3.0
2         3.0
3         4.5
4         3.0
5         4.0
6         3.5
7         2.5
8         3.5
9         3.5

## factorize / functionize

In [90]:
def load_data(file_path: str, size:int =-1, y_index:int=-1) -> (pd.DataFrame, pd.DataFrame) :
    """
    'file_path' = the path to the required file (typically 'train.csv' or 'test.csv' under a 'raw_data' folder)
    NB: it can be an absolute or a relative path !
    if 'size'=-1 the entire data is returned, else only the 1st 'size' rows (might also suffle if this is better) are returned
    'y_index' expected values = [-1,0,1,2,3,4,5] indicated which evaluation(s) will be returned
    outputs= (X_raw,y):
        X_raw= 2-column DataFrame ['text_id','full_text']  
        y= a 6-column DataFrame (or a 1-column DataFrame if y_index is used)
        nb of rows in X_raw and y is controlled by the 'size' kwarg
    """
    df=pd.read_csv(file_path)
    X_raw=df[['text_id','full_text']].iloc[0:size,:]
    y=df[['cohesion', 'syntax', 'vocabulary', 'phraseology', 'grammar', 'conventions']].iloc[0:size,:]
    if y_index >0 and y_index < len(y.columns):
        y=y.iloc[:,[y_index]]         
    
    return X_raw,y

In [154]:
def load_train_val_data(file_path:str, y_index:int=-1, split_ratio:float=0.3,reshuffle:bool=True) -> (pd.DataFrame, pd.DataFrame) :
    """
    'file_path' = the path to the required file (typically 'train.csv' or 'test.csv' under a 'raw_data' folder)
    NB: it can be an absolute or a relative path !
    'y_index' expected values = [-1,0,1,2,3,4,5] indicated which evaluation(s) will be returned
    'split_ratio'is expected to be >0 and <1 ([0.01-0.99])
    data is reshuffled when 'reshuffle'= True!
    outputs= (X_train_raw,y_train,X_val_raw,y_val):
        X_train_raw, X_test_raw= 2x 2-column DataFrames ['text_id','full_text']  
        y_train, y_test= 2x 6-column DataFrames (or  1-column DataFrames if y_index is used)
        nb of rows in (X_train_raw,y_train,X_val_raw,y_val) is controlled by the 'split_ratio' kwarg
    """
    df=pd.read_csv(file_path)
    if reshuffle:
        df=df.sample(frac=1)
    len_train=int(df.shape[0]*(1-split_ratio))
    X_train_raw=df[['text_id','full_text']].iloc[:len_train,:]
    y_train=df[['cohesion', 'syntax', 'vocabulary', 'phraseology', 'grammar', 'conventions']].iloc[:len_train,:]
    X_val_raw=df[['text_id','full_text']].iloc[len_train:,:]
    y_val=df[['cohesion', 'syntax', 'vocabulary', 'phraseology', 'grammar', 'conventions']].iloc[len_train:,:]    
    if y_index >0 and y_index < len(y.columns):
        y_train=y_train.iloc[:,[y_index]]         
        y_val=y_val.iloc[:,[y_index]]         
    return X_train_raw,X_val_raw,y_train,y_val

In [168]:
train_path="../raw_data/train.csv"

In [169]:
X_train_raw, y_train= load_data(train_path)
X_train_raw.shape, y_train.shape

((3910, 2), (3910, 6))

In [170]:
X_train_raw,X_val_raw,y_train,y_val=load_train_val_data(train_path, split_ratio=0.1,reshuffle=False)
X_train_raw.shape,X_val_raw.shape,y_train.shape,y_val.shape

((3519, 2), (392, 2), (3519, 6), (392, 6))

### unit tests

In [171]:
X_val_raw

           text_id                                          full_text
3519  EFBD506FC8F2  Select me to visit your company It would be a ...
3520  EFBF293CC2AF  Dear, Local hospital manager\n\nI would love t...
3521  EFCC45260444  Well on my opinion I think that the best accom...
3522  EFD563DFAC60  Although some people might say that students s...
3523  EFD7D87EF4C9  Most employers are looking for specific charac...
...            ...                                                ...
3906  FFD29828A873  I believe using cellphones in class for educat...
3907  FFD9A83B0849  Working alone, students do not have to argue w...
3908  FFDC4011AC9C  "A problem is a chance for you to do your best...
3909  FFE16D704B16  Many people disagree with Albert Schweitzer's ...
3910  FFED00D6E0BD  Do you think that failure is the main thing fo...

[392 rows x 2 columns]

In [172]:
X_train_raw

           text_id                                          full_text
0     0016926B079C  I think that students would benefit from learn...
1     0022683E9EA5  When a problem is a change you have to let it ...
2     00299B378633  Dear, Principal\n\nIf u change the school poli...
3     003885A45F42  The best time in life is when you become yours...
4     0049B1DF5CCC  Small act of kindness can impact in other peop...
...            ...                                                ...
3514  EF8047505E53  Thomas Jefferson once said, "Determine never t...
3515  EF9677DEFA79  I think the teacher should let any students pl...
3516  EF9D616EAC4E  On group works either at school, job or any ot...
3517  EFACA593A52B  Can you imagine a world where every person is ...
3518  EFB208F9EF60  They say that conserving energy and resources,...

[3519 rows x 2 columns]

In [173]:
y_train

      cohesion  syntax  vocabulary  phraseology  grammar  conventions
0          3.5     3.5         3.0          3.0      4.0          3.0
1          2.5     2.5         3.0          2.0      2.0          2.5
2          3.0     3.5         3.0          3.0      3.0          2.5
3          4.5     4.5         4.5          4.5      4.0          5.0
4          2.5     3.0         3.0          3.0      2.5          2.5
...        ...     ...         ...          ...      ...          ...
3514       2.5     3.0         2.5          3.0      3.5          3.0
3515       3.0     4.0         3.5          3.5      3.0          3.5
3516       3.0     3.0         3.0          3.5      3.5          3.0
3517       3.5     3.5         4.0          4.0      2.5          3.5
3518       3.0     2.5         2.5          2.5      3.5          2.5

[3519 rows x 6 columns]

In [179]:
size=3
y_index=2

In [180]:
X_train_raw, y_train= load_data(train_path,size=size,y_index=y_index)

In [181]:
X_train_raw

        text_id                                          full_text
0  0016926B079C  I think that students would benefit from learn...
1  0022683E9EA5  When a problem is a change you have to let it ...
2  00299B378633  Dear, Principal\n\nIf u change the school poli...

In [182]:
y_train

   vocabulary
0         3.0
1         3.0
2         3.0

# Baseline (simple mean)

In [184]:
X_train_raw, y_train= load_data(train_path)
X_train_raw.shape, y_train.shape

((3910, 2), (3910, 6))

In [199]:
y_train_mean= y_train.mean()
y_train_mean

cohesion       3.126982
syntax         3.028389
vocabulary     3.235678
phraseology    3.116880
grammar        3.032864
conventions    3.080946
dtype: float64

In [189]:
y_train

      cohesion  syntax  vocabulary  phraseology  grammar  conventions
0          3.5     3.5         3.0          3.0      4.0          3.0
1          2.5     2.5         3.0          2.0      2.0          2.5
2          3.0     3.5         3.0          3.0      3.0          2.5
3          4.5     4.5         4.5          4.5      4.0          5.0
4          2.5     3.0         3.0          3.0      2.5          2.5
...        ...     ...         ...          ...      ...          ...
3905       2.5     3.0         3.0          4.0      3.5          3.0
3906       2.5     3.0         3.0          3.5      2.5          2.5
3907       4.0     4.0         4.0          4.0      3.5          3.0
3908       2.5     3.0         3.0          3.0      3.5          3.0
3909       4.0     4.5         4.5          4.0      4.5          4.5

[3910 rows x 6 columns]

In [202]:
error=y_train-y_mean
error

      cohesion    syntax  vocabulary  phraseology   grammar  conventions
0     0.373018  0.471611   -0.235678     -0.11688  0.967136    -0.080946
1    -0.626982 -0.528389   -0.235678     -1.11688 -1.032864    -0.580946
2    -0.126982  0.471611   -0.235678     -0.11688 -0.032864    -0.580946
3     1.373018  1.471611    1.264322      1.38312  0.967136     1.919054
4    -0.626982 -0.028389   -0.235678     -0.11688 -0.532864    -0.580946
...        ...       ...         ...          ...       ...          ...
3905 -0.626982 -0.028389   -0.235678      0.88312  0.467136    -0.080946
3906 -0.626982 -0.028389   -0.235678      0.38312 -0.532864    -0.580946
3907  0.873018  0.971611    0.764322      0.88312  0.467136    -0.080946
3908 -0.626982 -0.028389   -0.235678     -0.11688  0.467136    -0.080946
3909  0.873018  1.471611    1.264322      0.88312  1.467136     1.419054

[3910 rows x 6 columns]

In [214]:
SE=error**2
SE

      cohesion    syntax  vocabulary  phraseology   grammar  conventions
0     0.139142  0.222417    0.055544     0.013661  0.935351     0.006552
1     0.393107  0.279195    0.055544     1.247420  1.066809     0.337499
2     0.016124  0.222417    0.055544     0.013661  0.001080     0.337499
3     1.885178  2.165640    1.598511     1.913022  0.935351     3.682767
4     0.393107  0.000806    0.055544     0.013661  0.283945     0.337499
...        ...       ...         ...          ...       ...          ...
3905  0.393107  0.000806    0.055544     0.779901  0.218216     0.006552
3906  0.393107  0.000806    0.055544     0.146781  0.283945     0.337499
3907  0.762160  0.944028    0.584189     0.779901  0.218216     0.006552
3908  0.393107  0.000806    0.055544     0.013661  0.218216     0.006552
3909  0.762160  2.165640    1.598511     0.779901  2.152487     2.013713

[3910 rows x 6 columns]

In [217]:
MSE=SE.mean(axis=0)
MSE

cohesion       0.438927
syntax         0.415179
vocabulary     0.340044
phraseology    0.430329
grammar        0.489777
conventions    0.450801
dtype: float64

In [218]:
RMSE=np.sqrt(MSE)
RMSE

cohesion       0.662515
syntax         0.644344
vocabulary     0.583133
phraseology    0.655995
grammar        0.699840
conventions    0.671417
dtype: float64

In [220]:
MCRMSE=RMSE.mean()
MCRMSE

0.6528740244626897

# loss / metrics RMSE

In [ ]:
def loss_func(y_true, y_pred):
    losses=[]
    for column in y_true.columns:
        res=np.sqrt(sum((y_true[column]-y_pred[column])**2)/len(y_true))
        losses.append(res)
    return np.mean(losses)

# Baseline (simple mean)

# basic Model (LSTM / conv1D)